<!-- begin projects -->
<section class="section projects" id="about">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>
              <!-- <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a> -->
            </div>
            <div class="section__description">{{ include.description_html }}</div>
          </div>

          <p>
            ー・ー・ー　・ー・ー・　・ー・・　・・・ーはRCJ Rescue Lineに出場する怪しいチームです。<br>
            <br>
            チーム名には何の意味もありません。      
          </p>

          <h3>経歴</h3>

          <p>
            2022年10月　チーム結成
          </p>

          {% if include.show_projects %}
          <div class="row">
            {% for project in site.projects %}
              {% if forloop.index <= 6 %}
                {% bookshop project-card project=project %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->